In [1]:
import pandas as pd
import numpy as ny

df = pd.read_csv("uwide.csv", sep=",")
df.head(15)

,USERID,BROWSER_COUNT,COURSE_COUNT,COURSE_LAST_ACCESS,COURSE_SUM_VIEW,COURSE_AVG_SCORE,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_LAB,...,LABSCORE,OTHERSCORE,TOTALSCORE,STUDYTERM,COURSEID,EXAMNUM,PROCESS,GROUPSTUDYSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
0,310_20178310080783,334.0,11,1.513620e+09,NaN,0.000000,94.000000,2.727273,1.727273,30.583333,...,0,0,97,201703,310_260000656,"2,7510",0,0,20.0,20.0
1,310_20178310080790,744.0,407,1.513371e+09,0.718819,0.416819,91.454545,2.727273,1.727273,21.350000,...,0,0,94,201703,310_260000656,"2,7510",0,0,17.0,20.0
2,310_20128310060450,17.0,9,1.505817e+09,NaN,NaN,54.166667,6.166667,7.500000,NaN,...,0,0,52,201703,310_260000656,"2,7510",0,0,17.2,17.0
3,310_20128310320840,154.0,133,1.513881e+09,0.021609,NaN,81.000000,0.000000,17.000000,NaN,...,0,0,81,201703,310_260000656,"2,7510",99,0,15.0,14.0
4,310_20128310320777,50.0,1,1.514159e+09,NaN,NaN,67.000000,0.000000,17.000000,NaN,...,0,0,67,201703,310_260000656,"2,7510",0,0,15.0,14.0
5,310_20138310060308,138.0,45,1.514115e+09,0.000174,NaN,77.400000,7.400000,10.000000,NaN,...,0,0,87,201703,310_260000656,"2,7510",0,0,17.2,17.0
6,310_20138310320705,54.0,1,1.513362e+09,NaN,NaN,50.000000,0.000000,17.000000,NaN,...,0,0,50,201703,310_260000656,"2,7510",0,0,15.0,14.0
7,310_20138310250134,80.0,7,1.509478e+09,NaN,NaN,87.500000,3.000000,6.500000,NaN,...,0,0,95,201703,310_260000656,"2,7510",0,0,19.0,19.0
8,310_20138310250135,227.0,8,1.509026e+09,NaN,NaN,89.375000,2.250000,4.875000,NaN,...,0,0,94,201703,310_260000656,"2,7510",0,0,19.0,19.0
9,310_20168310450071,238.0,1368,1.513982e+09,0.306042,NaN,71.733333,9.066667,5.533333,26.166667,...,0,0,38,201703,310_260000656,"2,7510",0,0,0.0,0.0
10,310_20168310450070,402.0,3132,1.513761e+09,272.285208,NaN,75.066667,9.533333,5.600000,30.833333,...,0,0,36,201703,310_260000656,"2,7510",9,0,0.0,0.0
11,310_20158310100790,178.0,228,1.514912e+09,0.020278,NaN,93.428571,7.142857,8.000000,32.750000,...,0,0,93,201703,310_260000656,"2,7510",0,0,20.0,18.0
12,310_20158310100799,290.0,11,1.514469e+09,0.016296,0.000000,93.666667,8.333333,9.333333,NaN,...,0,0,88,201703,310_260000656,"2,7510",0,0,17.0,18.0
13,310_20158310100797,57.0,12,1.514121e+09,0.001806,NaN,94.571429,7.142857,8.000000,31.250000,...,0,0,92,201703,310_260000656,"2,7510",0,0,20.0,18.0
14,310_20158310100752,93.0,36,1.514120e+09,0.005000,0.668817,89.714286,7.142857,7.571429,27.833333,...,0,0,86,201703,310_260000656,"2,7510",0,0,16.4,18.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 52 columns):
USERID                         2006 non-null object
BROWSER_COUNT                  1950 non-null float64
COURSE_COUNT                   2006 non-null int64
COURSE_LAST_ACCESS             1950 non-null float64
COURSE_SUM_VIEW                1327 non-null float64
COURSE_AVG_SCORE               228 non-null float64
EXAM_AH_SCORE                  2006 non-null float64
EXAM_WRITEN_SCORE              2006 non-null float64
EXAM_MIDDLE_SCORE              2006 non-null float64
EXAM_LAB                       1468 non-null float64
EXAM_PROGRESS                  2006 non-null float64
EXAM_GROUP_SCORE               2006 non-null float64
EXAM_FACE_SCORE                2006 non-null float64
EXAM_ONLINE_SCORE              2006 non-null float64
NODEBB_LAST_POST               750 non-null float64
NODEBB_CHANNEL_COUNT           750 non-null float64
NODEBB_TOPIC_COUNT             750 non-null float64
COURSE_SUM_VIDEO_LEN           2005 non-null float64
SEX                            2006 non-null object
MAJORID                        2006 non-null object
STATUS                         2006 non-null object
GRADE                          2006 non-null int64
CLASSID                        2006 non-null object
EXAM_HOMEWORK                  2006 non-null float64
EXAM_LABSCORE                  2006 non-null float64
EXAM_OTHERSCORE                2006 non-null int64
NODEBB_PARTICIPATIONRATE       2005 non-null float64
COURSE_WORKTIME                2005 non-null float64
COURSE_WORKACCURACYRATE        2005 non-null float64
COURSE_WORKCOMPLETERATE        2005 non-null float64
NODEBB_POSTSCOUNT              2005 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    2005 non-null float64
NODEBB_REALBBSARCHIVECOUNT     2005 non-null float64
NORMALBBSARCHIVECOUNT          2005 non-null float64
COURSE_WORKCOUNT               2005 non-null float64
STUNO                          2006 non-null int64
ID                             2006 non-null object
STUID                          2006 non-null object
COURSEOPENID                   2006 non-null object
HOMEWORKSCORE                  2006 non-null int64
WRITTENASSIGNMENTSCORE         2006 non-null int64
MIDDLEASSIGNMENTSCORE          2006 non-null int64
LABSCORE                       2006 non-null int64
OTHERSCORE                     2006 non-null int64
TOTALSCORE                     2006 non-null int64
STUDYTERM                      2006 non-null int64
COURSEID                       2006 non-null object
EXAMNUM                        2006 non-null object
PROCESS                        2006 non-null int64
GROUPSTUDYSCORE                2006 non-null int64
FACESTUDYSCORE                 2006 non-null float64
ONLINESTUDYSCORE               2006 non-null float64
dtypes: float64(29), int64(13), object(10)
memory usage: 815.1+ KB

In [3]:
df.columns
df.describe()

,BROWSER_COUNT,COURSE_COUNT,COURSE_LAST_ACCESS,COURSE_SUM_VIEW,COURSE_AVG_SCORE,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_LAB,EXAM_PROGRESS,...,WRITTENASSIGNMENTSCORE,MIDDLEASSIGNMENTSCORE,LABSCORE,OTHERSCORE,TOTALSCORE,STUDYTERM,PROCESS,GROUPSTUDYSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
count,1950.000000,2006.000000,1.950000e+03,1327.000000,228.000000,2006.000000,2006.000000,2006.000000,1468.000000,2006.000000,...,2006.0,2006.000000,2006.0,2006.0,2006.000000,2006.0,2006.000000,2006.0,2006.000000,2006.000000
mean,266.023077,1369.385344,1.513165e+09,477.848950,0.443196,85.837506,10.484416,5.847288,34.530274,5.117191,...,0.0,17.133599,0.0,0.0,85.365902,201703.0,3.940179,0.0,17.419242,17.059821
std,252.247323,4224.334880,1.393563e+06,2961.198469,0.218687,11.497755,6.547428,3.880040,13.395989,12.482049,...,0.0,4.955976,0.0,0.0,17.827595,0.0,17.913937,0.0,3.583749,3.830375
min,3.000000,1.000000,1.503993e+09,-0.015417,0.000000,18.333333,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,201703.0,0.000000,0.0,0.000000,0.000000
25%,105.000000,13.000000,1.512395e+09,0.023900,0.302937,83.000000,3.923611,2.000000,26.182292,0.000000,...,0.0,17.000000,0.0,0.0,84.250000,201703.0,0.000000,0.0,17.000000,16.000000
50%,190.000000,63.000000,1.513543e+09,0.400961,0.435340,88.516667,10.857143,6.000000,30.166667,0.500000,...,0.0,19.000000,0.0,0.0,91.000000,201703.0,0.000000,0.0,18.000000,18.000000
75%,334.750000,495.000000,1.514146e+09,2.282650,0.550064,93.062500,15.750000,8.428571,39.934375,3.222222,...,0.0,20.000000,0.0,0.0,96.000000,201703.0,0.000000,0.0,19.600000,19.600000
max,2182.000000,71043.000000,1.515064e+09,61494.619641,1.000000,99.666667,29.000000,17.000000,70.000000,99.000000,...,0.0,20.000000,0.0,0.0,100.000000,201703.0,99.000000,0.0,20.000000,20.000000

In [4]:
negative_CSV = df["COURSE_SUM_VIEW"] < 0
print(df[negative_CSV])

                  USERID  BROWSER_COUNT  COURSE_COUNT  COURSE_LAST_ACCESS  \
380   310_20148310110298          287.0            21        1.513003e+09
624   310_20178310120857         1193.0           190        1.512402e+09
674   310_20178310120824          218.0            81        1.514765e+09
795   310_20158310030388          135.0            11        1.513861e+09
862   310_20158310100778          151.0            24        1.514120e+09
1286  310_20158310071464           83.0            84        1.511982e+09
1327  310_20178310080751          176.0            44        1.513796e+09
1352  310_20158310060579          255.0           243        1.514645e+09
1515  310_20178310880120          203.0           154        1.512685e+09
1593  310_20168310050648           72.0            36        1.512140e+09
1818  310_20168310250005           83.0           128        1.511821e+09

      COURSE_SUM_VIEW  COURSE_AVG_SCORE  EXAM_AH_SCORE  EXAM_WRITEN_SCORE  \
380     -2.916667e-03               NaN      87.842105          11.789474
624     -3.125000e-03               NaN      93.900000           5.600000
674     -5.520833e-03               NaN      91.666667           5.777778
795     -1.145833e-03               NaN      88.500000          13.250000
862     -2.777778e-04               NaN      92.666667           8.333333
1286    -5.555556e-04               NaN      86.142857           7.142857
1327    -1.196759e-02          0.135135      84.000000           2.727273
1352    -4.100000e-43          0.474790      81.142857          12.857143
1515    -5.185185e-03          0.246667      94.571429          10.357143
1593    -1.541667e-02               NaN      87.437500          16.687500
1818    -9.814815e-03               NaN      85.357143          13.928571

      EXAM_MIDDLE_SCORE   EXAM_LAB  ...  LABSCORE  OTHERSCORE  TOTALSCORE  \
380           13.052632        NaN  ...         0           0          91
624            2.000000  25.312500  ...         0           0          97
674            2.000000        NaN  ...         0           0          93
795           10.250000  26.850000  ...         0           0          97
862            9.500000        NaN  ...         0           0          84
1286           8.428571  32.083333  ...         0           0          96
1327           1.727273  23.400000  ...         0           0          89
1352          10.142857  24.166667  ...         0           0          92
1515           5.285714  32.166667  ...         0           0          90
1593           4.000000  41.375000  ...         0           0          93
1818           8.571429  25.812500  ...         0           0          93

      STUDYTERM       COURSEID  EXAMNUM  PROCESS  GROUPSTUDYSCORE  \
380      201703  310_260000656   2,7510        0                0
624      201703  310_260000656   2,7510        0                0
674      201703  310_260000656   2,7510        0                0
795      201703  310_260000656   2,7510        0                0
862      201703  310_260000656   2,7510        0                0
1286     201703  310_260000656     7510        0                0
1327     201703  310_260000656   2,7510        0                0
1352     201703  310_260000656     7510        0                0
1515     201703  310_260000656     7510        0                0
1593     201703  310_260000656   2,7510        0                0
1818     201703  310_260000656   2,7510        0                0

     FACESTUDYSCORE ONLINESTUDYSCORE
380            17.0             19.0
624            20.0             18.6
674            17.8             17.2
795            19.0             19.0
862            19.4             18.0
1286           19.6             19.6
1327           17.0             16.0
1352           17.2             17.6
1515           17.0             16.0
1593           18.4             17.2
1818           19.0             19.0

[11 rows x 52 columns]

In [5]:
df.isnull().any()

USERID                         False
BROWSER_COUNT                   True
COURSE_COUNT                   False
COURSE_LAST_ACCESS              True
COURSE_SUM_VIEW                 True
COURSE_AVG_SCORE                True
EXAM_AH_SCORE                  False
EXAM_WRITEN_SCORE              False
EXAM_MIDDLE_SCORE              False
EXAM_LAB                        True
EXAM_PROGRESS                  False
EXAM_GROUP_SCORE               False
EXAM_FACE_SCORE                False
EXAM_ONLINE_SCORE              False
NODEBB_LAST_POST                True
NODEBB_CHANNEL_COUNT            True
NODEBB_TOPIC_COUNT              True
COURSE_SUM_VIDEO_LEN            True
SEX                            False
MAJORID                        False
STATUS                         False
GRADE                          False
CLASSID                        False
EXAM_HOMEWORK                  False
EXAM_LABSCORE                  False
EXAM_OTHERSCORE                False
NODEBB_PARTICIPATIONRATE        True
COURSE_WORKTIME                 True
COURSE_WORKACCURACYRATE         True
COURSE_WORKCOMPLETERATE         True
NODEBB_POSTSCOUNT               True
NODEBB_NORMALBBSPOSTSCOUONT     True
NODEBB_REALBBSARCHIVECOUNT      True
NORMALBBSARCHIVECOUNT           True
COURSE_WORKCOUNT                True
STUNO                          False
ID                             False
STUID                          False
COURSEOPENID                   False
HOMEWORKSCORE                  False
WRITTENASSIGNMENTSCORE         False
MIDDLEASSIGNMENTSCORE          False
LABSCORE                       False
OTHERSCORE                     False
TOTALSCORE                     False
STUDYTERM                      False
COURSEID                       False
EXAMNUM                        False
PROCESS                        False
GROUPSTUDYSCORE                False
FACESTUDYSCORE                 False
ONLINESTUDYSCORE               False
dtype: bool

In [6]:
df.isnull().sum()

USERID                            0
BROWSER_COUNT                    56
COURSE_COUNT                      0
COURSE_LAST_ACCESS               56
COURSE_SUM_VIEW                 679
COURSE_AVG_SCORE               1778
EXAM_AH_SCORE                     0
EXAM_WRITEN_SCORE                 0
EXAM_MIDDLE_SCORE                 0
EXAM_LAB                        538
EXAM_PROGRESS                     0
EXAM_GROUP_SCORE                  0
EXAM_FACE_SCORE                   0
EXAM_ONLINE_SCORE                 0
NODEBB_LAST_POST               1256
NODEBB_CHANNEL_COUNT           1256
NODEBB_TOPIC_COUNT             1256
COURSE_SUM_VIDEO_LEN              1
SEX                               0
MAJORID                           0
STATUS                            0
GRADE                             0
CLASSID                           0
EXAM_HOMEWORK                     0
EXAM_LABSCORE                     0
EXAM_OTHERSCORE                   0
NODEBB_PARTICIPATIONRATE          1
COURSE_WORKTIME                   1
COURSE_WORKACCURACYRATE           1
COURSE_WORKCOMPLETERATE           1
NODEBB_POSTSCOUNT                 1
NODEBB_NORMALBBSPOSTSCOUONT       1
NODEBB_REALBBSARCHIVECOUNT        1
NORMALBBSARCHIVECOUNT             1
COURSE_WORKCOUNT                  1
STUNO                             0
ID                                0
STUID                             0
COURSEOPENID                      0
HOMEWORKSCORE                     0
WRITTENASSIGNMENTSCORE            0
MIDDLEASSIGNMENTSCORE             0
LABSCORE                          0
OTHERSCORE                        0
TOTALSCORE                        0
STUDYTERM                         0
COURSEID                          0
EXAMNUM                           0
PROCESS                           0
GROUPSTUDYSCORE                   0
FACESTUDYSCORE                    0
ONLINESTUDYSCORE                  0
dtype: int64

In [7]:
BC_null = pd.isnull(df["BROWSER_COUNT"])
df_BC_null = df[BC_null]
print(df_BC_null)

                  USERID  BROWSER_COUNT  COURSE_COUNT  COURSE_LAST_ACCESS  \
38    310_20168310100442            NaN            18                 NaN
46    310_20168310100452            NaN            18                 NaN
50    310_20168310100453            NaN            18                 NaN
248   310_20168310090719            NaN           558                 NaN
277   310_20168310090714            NaN           740                 NaN
294   310_20168310250099            NaN           144                 NaN
299   310_20168310250110            NaN          1644                 NaN
330   310_20158310020574            NaN            12                 NaN
475   310_20158310121056            NaN             9                 NaN
523   310_20178310040393            NaN             9                 NaN
531   310_20168310370167            NaN            17                 NaN
538   310_20168310370186            NaN            17                 NaN
594   310_20178310030179            NaN             9                 NaN
607   310_20178310041131            NaN             6                 NaN
628   310_20178310320170            NaN           120                 NaN
647   310_20178310250171            NaN            10                 NaN
652   310_20178310250169            NaN             4                 NaN
655   310_20178310250165            NaN             4                 NaN
670   310_20178310250105            NaN             3                 NaN
705   310_20178310100723            NaN             5                 NaN
707   310_20178310120859            NaN             5                 NaN
724   310_20178310090811            NaN             4                 NaN
734   310_20178310080791            NaN            15                 NaN
737   310_20178310080733            NaN            11                 NaN
742   310_20178310080807            NaN            11                 NaN
772   310_20178310080729            NaN            15                 NaN
777   310_20178310080800            NaN            11                 NaN
778   310_20178310080804            NaN            11                 NaN
803   310_20158310100859            NaN            11                 NaN
808   310_20178310880114            NaN            10                 NaN
854   310_20178310100743            NaN           490                 NaN
861   310_20168310250052            NaN            19                 NaN
871   310_20178310880136            NaN             5                 NaN
943   310_20178310041102            NaN             2                 NaN
945   310_20158310100759            NaN            10                 NaN
954   310_20178310080812            NaN            11                 NaN
956   310_20148310071480            NaN             5                 NaN
1136  310_20168310090704            NaN            36                 NaN
1238  310_20168310370165            NaN          7794                 NaN
1295  310_20168310071088            NaN          2114                 NaN
1347  310_20178310080775            NaN            11                 NaN
1348  310_20178310080777            NaN            11                 NaN
1410  310_20168310120733            NaN            18                 NaN
1429  310_20158310091009            NaN            13                 NaN
1436  310_20168310090721            NaN            15                 NaN
1559  310_20158310121095            NaN            11                 NaN
1659  310_20168310100434            NaN            18                 NaN
1665  310_20178310880104            NaN            10                 NaN
1674  310_20158310121048            NaN            12                 NaN
1677  310_20168310120734            NaN            24                 NaN
1771  310_20168310370176            NaN           102                 NaN
1778  310_20158310320338            NaN            11                 NaN
1780  310_20158310320352            NaN            13                 NaN
1802  310_20158310030372            NaN            12                 NaN
1882  310_20168310880957            NaN           154                 NaN
1885  310_20168310250153            NaN             8                 NaN

      COURSE_SUM_VIEW  COURSE_AVG_SCORE  EXAM_AH_SCORE  EXAM_WRITEN_SCORE  \
38                NaN               NaN      46.250000          15.166667
46                NaN               NaN      53.750000          11.375000
50                NaN               NaN      63.000000          13.000000
248          0.014792               NaN      88.200000          14.666667
277          0.000000               NaN      59.133333          15.800000
294          0.122500               NaN      86.666667           9.666667
299       2251.124028               NaN      78.461538           9.000000
330               NaN               NaN      67.857143           6.428571
475               NaN               NaN      84.833333           8.000000
523               NaN               NaN      73.888889           0.000000
531               NaN               NaN      79.428571          14.071429
538               NaN               NaN      75.333333          16.500000
594               NaN               NaN      39.000000           2.857143
607               NaN               NaN      53.333333           0.000000
628          0.000000               NaN      81.700000           0.000000
647               NaN               NaN      47.000000           3.222222
652               NaN               NaN      31.250000           0.000000
655               NaN               NaN      31.250000           0.000000
670               NaN               NaN      31.000000           0.000000
705               NaN               NaN      41.500000           0.000000
707               NaN               NaN      55.500000           0.000000
724               NaN               NaN      34.500000           0.000000
734               NaN               NaN      32.500000           3.000000
737               NaN               NaN      29.750000           3.750000
742               NaN               NaN      30.625000           3.750000
772               NaN               NaN      34.700000           3.000000
777               NaN               NaN      29.875000           3.750000
778               NaN               NaN      32.250000           3.750000
803               NaN               NaN      37.333333          16.666667
808               NaN               NaN      79.888889           8.555556
854          0.000000               NaN      30.222222           3.333333
861               NaN               NaN      52.818182           5.181818
871               NaN               NaN      83.285714          11.000000
943               NaN               NaN      50.000000           0.000000
945               NaN               NaN      52.750000           0.000000
954               NaN               NaN      30.250000           3.750000
956               NaN               NaN      26.333333           0.000000
1136         0.000000               NaN      85.470588          11.941176
1238         0.026042               NaN      91.733333          13.733333
1295         0.687685               NaN      66.583333          13.250000
1347              NaN               NaN      29.750000           3.750000
1348              NaN               NaN      29.875000           3.750000
1410              NaN               NaN      63.785714          14.214286
1429              NaN               NaN      65.272727          16.181818
1436              NaN               NaN      79.076923          19.076923
1559              NaN               NaN      70.714286          12.428571
1659              NaN               NaN      41.181818          16.545455
1665              NaN               NaN      63.333333           8.555556
1674              NaN               NaN      85.250000          16.500000
1677              NaN               NaN      55.473684          10.526316
1771         0.026366               NaN      69.750000          16.333333
1778              NaN               NaN      66.875000          18.000000
1780         0.017153               NaN      64.100000          13.500000
1802         0.000833               NaN      29.875000           0.000000
1882         0.041319               NaN      76.583333          12.750000
1885              NaN               NaN      73.666667          11.777778

      EXAM_MIDDLE_SCORE   EXAM_LAB  ...  LABSCORE  OTHERSCORE  TOTALSCORE  \
38             2.666667        NaN  ...         0           0          32
46             2.000000  14.875000  ...         0           0          32
50             2.285714  16.000000  ...         0           0          32
248            8.133333  61.600000  ...         0           0          86
277            3.466667        NaN  ...         0           0          37
294            3.166667  24.250000  ...         0           0          57
299            3.384615  18.166667  ...         0           0          57
330            7.714286  23.750000  ...         0           0          52
475            8.666667  23.916667  ...         0           0          48
523            2.222222        NaN  ...         0           0          60
531            3.714286  65.100000  ...         0           0          53
538            4.333333  65.100000  ...         0           0          52
594            2.285714  28.000000  ...         0           0          46
607            6.666667        NaN  ...         0           0          60
628            0.000000        NaN  ...         0           0          38
647            2.111111        NaN  ...         0           0          57
652            4.750000        NaN  ...         0           0          57
655            4.750000        NaN  ...         0           0          57
670            6.333333        NaN  ...         0           0          57
705            0.000000        NaN  ...         0           0          32
707            3.500000        NaN  ...         0           0          50
724            0.000000        NaN  ...         0           0          22
734            2.400000        NaN  ...         0           0          36
737            1.500000        NaN  ...         0           0          36
742            1.500000        NaN  ...         0           0          36
772            3.000000  25.875000  ...         0           0          48
777            1.500000        NaN  ...         0           0          36
778            2.375000        NaN  ...         0           0          47
803            0.000000        NaN  ...         0           0          32
808            0.000000  29.666667  ...         0           0          24
854            0.000000  23.500000  ...         0           0          40
861            3.181818  20.458333  ...         0           0          57
871            0.000000        NaN  ...         0           0           0
943           10.000000        NaN  ...         0           0          60
945            0.000000  28.500000  ...         0           0          32
954            1.500000        NaN  ...         0           0          36
956            6.666667        NaN  ...         0           0          59
1136           6.705882  61.970000  ...         0           0          86
1238           3.666667  37.812500  ...         0           0          92
1295           4.333333  24.500000  ...         0           0          59
1347           1.500000        NaN  ...         0           0          36
1348           1.500000        NaN  ...         0           0          36
1410           2.857143        NaN  ...         0           0          47
1429          10.727273        NaN  ...         0           0          40
1436           3.000000        NaN  ...         0           0          24
1559           4.428571  25.187500  ...         0           0          48
1659           2.909091        NaN  ...         0           0          32
1665           0.000000  28.750000  ...         0           0          24
1674          11.125000  28.500000  ...         0           0          56
1677           4.157895        NaN  ...         0           0          48
1771           4.416667        NaN  ...         0           0          53
1778          12.125000        NaN  ...         0           0          45
1780           9.000000        NaN  ...         0           0          46
1802           3.875000  24.083333  ...         0           0           0
1882           3.000000  28.750000  ...         0           0          41
1885           2.111111        NaN  ...         0           0          57

      STUDYTERM       COURSEID  EXAMNUM  PROCESS  GROUPSTUDYSCORE  \
38       201703  310_260000656   2,7510        0                0
46       201703  310_260000656   2,7510        0                0
50       201703  310_260000656   2,7510        0                0
248      201703  310_260000656   2,7510        0                0
277      201703  310_260000656   2,7510        0                0
294      201703  310_260000656   2,7510        0                0
299      201703  310_260000656   2,7510        0                0
330      201703  310_260000656   2,7510        0                0
475      201703  310_260000656   2,7510        0                0
523      201703  310_260000656   2,7510        0                0
531      201703  310_260000656   2,7510        0                0
538      201703  310_260000656   2,7510        0                0
594      201703  310_260000656   2,7510        0                0
607      201703  310_260000656   2,7510        0                0
628      201703  310_260000656   2,7510        0                0
647      201703  310_260000656   2,7510        0                0
652      201703  310_260000656   2,7510        0                0
655      201703  310_260000656   2,7510        0                0
670      201703  310_260000656   2,7510        0                0
705      201703  310_260000656   2,7510        0                0
707      201703  310_260000656   2,7510        0                0
724      201703  310_260000656   2,7510        0                0
734      201703  310_260000656   2,7510        0                0
737      201703  310_260000656   2,7510        0                0
742      201703  310_260000656   2,7510        0                0
772      201703  310_260000656   2,7510        0                0
777      201703  310_260000656   2,7510        0                0
778      201703  310_260000656   2,7510        0                0
803      201703  310_260000656   2,7510        0                0
808      201703  310_260000656     7510        0                0
854      201703  310_260000656   2,7510        0                0
861      201703  310_260000656   2,7510        0                0
871      201703  310_260000656     7510        0                0
943      201703  310_260000656   2,7510        0                0
945      201703  310_260000656   2,7510        0                0
954      201703  310_260000656   2,7510        0                0
956      201703  310_260000656   2,7510        0                0
1136     201703  310_260000656   2,7510        0                0
1238     201703  310_260000656   2,7510        0                0
1295     201703  310_260000656     7510        0                0
1347     201703  310_260000656   2,7510        0                0
1348     201703  310_260000656   2,7510        0                0
1410     201703  310_260000656   2,7510        0                0
1429     201703  310_260000656   2,7510        0                0
1436     201703  310_260000656   2,7510        0                0
1559     201703  310_260000656   2,7510        0                0
1659     201703  310_260000656   2,7510        0                0
1665     201703  310_260000656     7510        0                0
1674     201703  310_260000656   2,7510        0                0
1677     201703  310_260000656   2,7510        0                0
1771     201703  310_260000656   2,7510        0                0
1778     201703  310_260000656     7510        0                0
1780     201703  310_260000656     7510        0                0
1802     201703  310_260000656   2,7510        0                0
1882     201703  310_260000656     7510        0                0
1885     201703  310_260000656   2,7510        0                0

     FACESTUDYSCORE ONLINESTUDYSCORE
38             15.8             16.0
46             15.8             16.0
50             15.8             16.0
248            17.0             14.0
277            12.0             12.0
294            19.0             19.0
299            19.0             19.0
330            18.0             18.0
475            16.6             18.6
523            20.0             20.0
531            17.8             18.0
538            17.6             17.8
594            15.0             15.0
607            20.0             20.0
628             0.0              0.0
647            19.0             19.0
652            19.0             19.0
655            19.0             19.0
670            19.0             19.0
705            15.8             16.0
707            16.2             19.0
724            12.0             10.0
734            12.0             12.0
737            12.0             12.0
742            12.0             12.0
772            18.0             12.0
777            12.0             12.0
778            16.0             12.0
803            15.8             16.0
808            12.0             12.0
854            20.0             18.0
861            19.0             19.0
871             0.0              0.0
943            20.0             20.0
945            15.8             16.0
954            12.0             12.0
956            19.6             19.6
1136           18.0             12.0
1238           18.0             18.0
1295           19.6             19.6
1347           12.0             12.0
1348           12.0             12.0
1410           16.0             18.2
1429           16.0             12.0
1436           12.0             12.0
1559           16.0             19.4
1659           15.8             16.0
1665           12.0             12.0
1674           19.4             18.8
1677           16.0             19.0
1771           17.6             17.8
1778           14.0             14.0
1780           15.2             14.0
1802            0.0              0.0
1882           12.0             16.0
1885           19.0             19.0

[56 rows x 52 columns]

In [8]:
New_df = df.dropna(axis=0)
New_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 1 to 1971
Data columns (total 52 columns):
USERID                         75 non-null object
BROWSER_COUNT                  75 non-null float64
COURSE_COUNT                   75 non-null int64
COURSE_LAST_ACCESS             75 non-null float64
COURSE_SUM_VIEW                75 non-null float64
COURSE_AVG_SCORE               75 non-null float64
EXAM_AH_SCORE                  75 non-null float64
EXAM_WRITEN_SCORE              75 non-null float64
EXAM_MIDDLE_SCORE              75 non-null float64
EXAM_LAB                       75 non-null float64
EXAM_PROGRESS                  75 non-null float64
EXAM_GROUP_SCORE               75 non-null float64
EXAM_FACE_SCORE                75 non-null float64
EXAM_ONLINE_SCORE              75 non-null float64
NODEBB_LAST_POST               75 non-null float64
NODEBB_CHANNEL_COUNT           75 non-null float64
NODEBB_TOPIC_COUNT             75 non-null float64
COURSE_SUM_VIDEO_LEN           75 non-null float64
SEX                            75 non-null object
MAJORID                        75 non-null object
STATUS                         75 non-null object
GRADE                          75 non-null int64
CLASSID                        75 non-null object
EXAM_HOMEWORK                  75 non-null float64
EXAM_LABSCORE                  75 non-null float64
EXAM_OTHERSCORE                75 non-null int64
NODEBB_PARTICIPATIONRATE       75 non-null float64
COURSE_WORKTIME                75 non-null float64
COURSE_WORKACCURACYRATE        75 non-null float64
COURSE_WORKCOMPLETERATE        75 non-null float64
NODEBB_POSTSCOUNT              75 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    75 non-null float64
NODEBB_REALBBSARCHIVECOUNT     75 non-null float64
NORMALBBSARCHIVECOUNT          75 non-null float64
COURSE_WORKCOUNT               75 non-null float64
STUNO                          75 non-null int64
ID                             75 non-null object
STUID                          75 non-null object
COURSEOPENID                   75 non-null object
HOMEWORKSCORE                  75 non-null int64
WRITTENASSIGNMENTSCORE         75 non-null int64
MIDDLEASSIGNMENTSCORE          75 non-null int64
LABSCORE                       75 non-null int64
OTHERSCORE                     75 non-null int64
TOTALSCORE                     75 non-null int64
STUDYTERM                      75 non-null int64
COURSEID                       75 non-null object
EXAMNUM                        75 non-null object
PROCESS                        75 non-null int64
GROUPSTUDYSCORE                75 non-null int64
FACESTUDYSCORE                 75 non-null float64
ONLINESTUDYSCORE               75 non-null float64
dtypes: float64(29), int64(13), object(10)
memory usage: 31.1+ KB

In [9]:
New_df_2 = df.dropna(axis=1)
New_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 34 columns):
USERID                    2006 non-null object
COURSE_COUNT              2006 non-null int64
EXAM_AH_SCORE             2006 non-null float64
EXAM_WRITEN_SCORE         2006 non-null float64
EXAM_MIDDLE_SCORE         2006 non-null float64
EXAM_PROGRESS             2006 non-null float64
EXAM_GROUP_SCORE          2006 non-null float64
EXAM_FACE_SCORE           2006 non-null float64
EXAM_ONLINE_SCORE         2006 non-null float64
SEX                       2006 non-null object
MAJORID                   2006 non-null object
STATUS                    2006 non-null object
GRADE                     2006 non-null int64
CLASSID                   2006 non-null object
EXAM_HOMEWORK             2006 non-null float64
EXAM_LABSCORE             2006 non-null float64
EXAM_OTHERSCORE           2006 non-null int64
STUNO                     2006 non-null int64
ID                        2006 non-null object
STUID                     2006 non-null object
COURSEOPENID              2006 non-null object
HOMEWORKSCORE             2006 non-null int64
WRITTENASSIGNMENTSCORE    2006 non-null int64
MIDDLEASSIGNMENTSCORE     2006 non-null int64
LABSCORE                  2006 non-null int64
OTHERSCORE                2006 non-null int64
TOTALSCORE                2006 non-null int64
STUDYTERM                 2006 non-null int64
COURSEID                  2006 non-null object
EXAMNUM                   2006 non-null object
PROCESS                   2006 non-null int64
GROUPSTUDYSCORE           2006 non-null int64
FACESTUDYSCORE            2006 non-null float64
ONLINESTUDYSCORE          2006 non-null float64
dtypes: float64(11), int64(13), object(10)
memory usage: 533.0+ KB

In [10]:
New_data_3 = df[["BROWSER_COUNT", "COURSE_LAST_ACCESS", "COURSE_SUM_VIDEO_LEN", "NODEBB_PARTICIPATIONRATE", "COURSE_WORKTIME", "COURSE_WORKACCURACYRATE", "COURSE_WORKCOMPLETERATE", "NODEBB_POSTSCOUNT", "NODEBB_NORMALBBSPOSTSCOUONT", "NODEBB_REALBBSARCHIVECOUNT", "NORMALBBSARCHIVECOUNT", "COURSE_WORKCOUNT"]].dropna(axis=0)
print(New_data_3)

      BROWSER_COUNT  COURSE_LAST_ACCESS  COURSE_SUM_VIDEO_LEN  \
0             334.0        1.513620e+09                   0.0
1             744.0        1.513371e+09                   0.0
2              17.0        1.505817e+09                   0.0
3             154.0        1.513881e+09                1867.0
4              50.0        1.514159e+09                   0.0
...             ...                 ...                   ...
2001          136.0        1.513991e+09                   0.0
2002          333.0        1.514234e+09                 356.4
2003          110.0        1.514218e+09                   7.5
2004          629.0        1.514318e+09                  68.8
2005          100.0        1.512167e+09                   0.0

      NODEBB_PARTICIPATIONRATE  COURSE_WORKTIME  COURSE_WORKACCURACYRATE  \
0                     9.290000      5430.428571                67.528571
1                     6.616667      9636.833333                44.835000
2                     0.000000         0.000000                38.642857
3                     0.000000     28253.000000                84.140000
4                     0.000000     12071.000000                57.200000
...                        ...              ...                      ...
2001                  0.000000       707.800000                36.458000
2002                  1.000000      3859.800000                59.236000
2003                  1.087500      4646.750000                44.300000
2004                  2.000000      2898.400000                 8.770000
2005                  0.000000    -16889.500000                49.377500

      COURSE_WORKCOMPLETERATE  NODEBB_POSTSCOUNT  NODEBB_NORMALBBSPOSTSCOUONT  \
0                   94.285714           4.428571                          0.0
1                  100.000000           4.833333                          0.0
2                   85.714286           0.000000                          0.0
3                  100.000000           0.000000                          0.0
4                  100.000000           0.000000                          0.0
...                       ...                ...                          ...
2001               100.000000           0.000000                          0.0
2002                92.000000           1.600000                          0.0
2003                50.000000           0.250000                          0.0
2004                92.000000           0.800000                          0.0
2005                74.317500           0.000000                          0.0

      NODEBB_REALBBSARCHIVECOUNT  NORMALBBSARCHIVECOUNT  COURSE_WORKCOUNT
0                       1.571429                    0.0          6.571429
1                       1.333333                    0.0          8.833333
2                       0.000000                    0.0          0.571429
3                       0.000000                    0.0          7.000000
4                       0.000000                    0.0          5.000000
...                          ...                    ...               ...
2001                    0.000000                    0.0          6.200000
2002                    0.200000                    0.0          5.600000
2003                    0.250000                    0.0          2.500000
2004                    0.400000                    0.0         36.200000
2005                    0.000000                    0.0          5.250000

[1950 rows x 12 columns]

In [11]:
New_df_4 = df.dropna(thresh=0.95*len(df), axis=1)
print(New_df_4)
New_df_4 = New_df_4.dropna(axis=0)
print(New_df_4)

                  USERID  BROWSER_COUNT  COURSE_COUNT  COURSE_LAST_ACCESS  \
0     310_20178310080783          334.0            11        1.513620e+09
1     310_20178310080790          744.0           407        1.513371e+09
2     310_20128310060450           17.0             9        1.505817e+09
3     310_20128310320840          154.0           133        1.513881e+09
4     310_20128310320777           50.0             1        1.514159e+09
...                  ...            ...           ...                 ...
2001  310_20178310100737          136.0            10        1.513991e+09
2002  310_20178310040424          333.0          2561        1.514234e+09
2003  310_20158310880546          110.0           187        1.514218e+09
2004  310_20178310040418          629.0           312        1.514318e+09
2005  310_20178310250002          100.0            12        1.512167e+09

      EXAM_AH_SCORE  EXAM_WRITEN_SCORE  EXAM_MIDDLE_SCORE  EXAM_PROGRESS  \
0         94.000000           2.727273           1.727273       0.000000
1         91.454545           2.727273           1.727273       0.000000
2         54.166667           6.166667           7.500000       0.000000
3         81.000000           0.000000          17.000000      99.000000
4         67.000000           0.000000          17.000000       0.000000
...             ...                ...                ...            ...
2001      60.600000           2.700000           0.000000       0.000000
2002      97.916667           2.500000           1.666667       8.583333
2003      78.375000           5.625000           9.750000       3.000000
2004      94.333333           2.416667           1.666667       2.250000
2005      92.000000           9.818182           7.181818       0.000000

      EXAM_GROUP_SCORE  EXAM_FACE_SCORE  ...  LABSCORE  OTHERSCORE TOTALSCORE  \
0             0.000000        10.450000  ...         0           0         97
1             0.000000         9.390909  ...         0           0         94
2             0.000000        33.233333  ...         0           0         52
3             0.000000        15.000000  ...         0           0         81
4             0.000000        15.000000  ...         0           0         67
...                ...              ...  ...       ...         ...        ...
2001          0.000000         9.880000  ...         0           0         61
2002          1.666667        11.304167  ...         0           0         99
2003          3.375000         6.750000  ...         0           0         87
2004          1.666667        11.195833  ...         0           0         99
2005          0.000000        13.627273  ...         0           0         92

     STUDYTERM       COURSEID  EXAMNUM PROCESS  GROUPSTUDYSCORE  \
0       201703  310_260000656   2,7510       0                0
1       201703  310_260000656   2,7510       0                0
2       201703  310_260000656   2,7510       0                0
3       201703  310_260000656   2,7510      99                0
4       201703  310_260000656   2,7510       0                0
...        ...            ...      ...     ...              ...
2001    201703  310_260000656   2,7510       0                0
2002    201703  310_260000656   2,7510       0                0
2003    201703  310_260000656     7510       0                0
2004    201703  310_260000656   2,7510       0                0
2005    201703  310_260000656   2,7510       0                0

      FACESTUDYSCORE  ONLINESTUDYSCORE
0               20.0              20.0
1               17.0              20.0
2               17.2              17.0
3               15.0              14.0
4               15.0              14.0
...              ...               ...
2001            15.8              16.0
2002            20.0              20.0
2003            17.0              16.0
2004            20.0              20.0
2005            19.0              19.0

[2006 rows x 46 columns]
                  USERID  BROWSER_COUNT  COURSE_COUNT  COURSE_LAST_ACCESS  \
0     310_20178310080783          334.0            11        1.513620e+09
1     310_20178310080790          744.0           407        1.513371e+09
2     310_20128310060450           17.0             9        1.505817e+09
3     310_20128310320840          154.0           133        1.513881e+09
4     310_20128310320777           50.0             1        1.514159e+09
...                  ...            ...           ...                 ...
2001  310_20178310100737          136.0            10        1.513991e+09
2002  310_20178310040424          333.0          2561        1.514234e+09
2003  310_20158310880546          110.0           187        1.514218e+09
2004  310_20178310040418          629.0           312        1.514318e+09
2005  310_20178310250002          100.0            12        1.512167e+09

      EXAM_AH_SCORE  EXAM_WRITEN_SCORE  EXAM_MIDDLE_SCORE  EXAM_PROGRESS  \
0         94.000000           2.727273           1.727273       0.000000
1         91.454545           2.727273           1.727273       0.000000
2         54.166667           6.166667           7.500000       0.000000
3         81.000000           0.000000          17.000000      99.000000
4         67.000000           0.000000          17.000000       0.000000
...             ...                ...                ...            ...
2001      60.600000           2.700000           0.000000       0.000000
2002      97.916667           2.500000           1.666667       8.583333
2003      78.375000           5.625000           9.750000       3.000000
2004      94.333333           2.416667           1.666667       2.250000
2005      92.000000           9.818182           7.181818       0.000000

      EXAM_GROUP_SCORE  EXAM_FACE_SCORE  ...  LABSCORE  OTHERSCORE TOTALSCORE  \
0             0.000000        10.450000  ...         0           0         97
1             0.000000         9.390909  ...         0           0         94
2             0.000000        33.233333  ...         0           0         52
3             0.000000        15.000000  ...         0           0         81
4             0.000000        15.000000  ...         0           0         67
...                ...              ...  ...       ...         ...        ...
2001          0.000000         9.880000  ...         0           0         61
2002          1.666667        11.304167  ...         0           0         99
2003          3.375000         6.750000  ...         0           0         87
2004          1.666667        11.195833  ...         0           0         99
2005          0.000000        13.627273  ...         0           0         92

     STUDYTERM       COURSEID  EXAMNUM PROCESS  GROUPSTUDYSCORE  \
0       201703  310_260000656   2,7510       0                0
1       201703  310_260000656   2,7510       0                0
2       201703  310_260000656   2,7510       0                0
3       201703  310_260000656   2,7510      99                0
4       201703  310_260000656   2,7510       0                0
...        ...            ...      ...     ...              ...
2001    201703  310_260000656   2,7510       0                0
2002    201703  310_260000656   2,7510       0                0
2003    201703  310_260000656     7510       0                0
2004    201703  310_260000656   2,7510       0                0
2005    201703  310_260000656   2,7510       0                0

      FACESTUDYSCORE  ONLINESTUDYSCORE
0               20.0              20.0
1               17.0              20.0
2               17.2              17.0
3               15.0              14.0
4               15.0              14.0
...              ...               ...
2001            15.8              16.0
2002            20.0              20.0
2003            17.0              16.0
2004            20.0              20.0
2005            19.0              19.0

[1950 rows x 46 columns]

In [12]:
New_df_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1950 entries, 0 to 2005
Data columns (total 46 columns):
USERID                         1950 non-null object
BROWSER_COUNT                  1950 non-null float64
COURSE_COUNT                   1950 non-null int64
COURSE_LAST_ACCESS             1950 non-null float64
EXAM_AH_SCORE                  1950 non-null float64
EXAM_WRITEN_SCORE              1950 non-null float64
EXAM_MIDDLE_SCORE              1950 non-null float64
EXAM_PROGRESS                  1950 non-null float64
EXAM_GROUP_SCORE               1950 non-null float64
EXAM_FACE_SCORE                1950 non-null float64
EXAM_ONLINE_SCORE              1950 non-null float64
COURSE_SUM_VIDEO_LEN           1950 non-null float64
SEX                            1950 non-null object
MAJORID                        1950 non-null object
STATUS                         1950 non-null object
GRADE                          1950 non-null int64
CLASSID                        1950 non-null object
EXAM_HOMEWORK                  1950 non-null float64
EXAM_LABSCORE                  1950 non-null float64
EXAM_OTHERSCORE                1950 non-null int64
NODEBB_PARTICIPATIONRATE       1950 non-null float64
COURSE_WORKTIME                1950 non-null float64
COURSE_WORKACCURACYRATE        1950 non-null float64
COURSE_WORKCOMPLETERATE        1950 non-null float64
NODEBB_POSTSCOUNT              1950 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    1950 non-null float64
NODEBB_REALBBSARCHIVECOUNT     1950 non-null float64
NORMALBBSARCHIVECOUNT          1950 non-null float64
COURSE_WORKCOUNT               1950 non-null float64
STUNO                          1950 non-null int64
ID                             1950 non-null object
STUID                          1950 non-null object
COURSEOPENID                   1950 non-null object
HOMEWORKSCORE                  1950 non-null int64
WRITTENASSIGNMENTSCORE         1950 non-null int64
MIDDLEASSIGNMENTSCORE          1950 non-null int64
LABSCORE                       1950 non-null int64
OTHERSCORE                     1950 non-null int64
TOTALSCORE                     1950 non-null int64
STUDYTERM                      1950 non-null int64
COURSEID                       1950 non-null object
EXAMNUM                        1950 non-null object
PROCESS                        1950 non-null int64
GROUPSTUDYSCORE                1950 non-null int64
FACESTUDYSCORE                 1950 non-null float64
ONLINESTUDYSCORE               1950 non-null float64
dtypes: float64(23), int64(13), object(10)
memory usage: 716.0+ KB

In [13]:
New_df_4.describe()

,BROWSER_COUNT,COURSE_COUNT,COURSE_LAST_ACCESS,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_PROGRESS,EXAM_GROUP_SCORE,EXAM_FACE_SCORE,EXAM_ONLINE_SCORE,...,WRITTENASSIGNMENTSCORE,MIDDLEASSIGNMENTSCORE,LABSCORE,OTHERSCORE,TOTALSCORE,STUDYTERM,PROCESS,GROUPSTUDYSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
count,1950.000000,1950.000000,1.950000e+03,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,...,1950.0,1950.000000,1950.0,1950.0,1950.000000,1950.0,1950.000000,1950.0,1950.000000,1950.000000
mean,266.023077,1401.327692,1.513165e+09,86.690394,10.558812,5.908947,5.249151,1.537714,10.723109,4.181522,...,0.0,17.282564,0.0,0.0,86.523590,201703.0,4.053333,0.0,17.480410,17.115487
std,252.247323,4276.402732,1.393563e+06,9.896151,6.540453,3.884103,12.629244,1.626306,3.180991,2.146459,...,0.0,4.772468,0.0,0.0,16.452716,0.0,18.156840,0.0,3.533648,3.788215
min,3.000000,1.000000,1.503993e+09,18.333333,0.000000,0.000000,0.000000,0.000000,2.685714,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,201703.0,0.000000,0.0,0.000000,0.000000
25%,105.000000,14.000000,1.512395e+09,83.500000,4.250000,2.000000,0.000000,0.000000,8.371429,2.571429,...,0.0,18.000000,0.0,0.0,85.000000,201703.0,0.000000,0.0,17.000000,16.000000
50%,190.000000,70.000000,1.513543e+09,88.787594,10.941558,6.057566,0.555556,1.500000,11.022222,3.189062,...,0.0,19.000000,0.0,0.0,92.000000,201703.0,0.000000,0.0,18.000000,18.000000
75%,334.750000,521.500000,1.514146e+09,93.191667,15.800000,8.428571,3.393750,3.000000,12.985833,6.079318,...,0.0,20.000000,0.0,0.0,96.000000,201703.0,0.000000,0.0,19.600000,19.600000
max,2182.000000,71043.000000,1.515064e+09,99.666667,29.000000,17.000000,99.000000,11.857143,33.233333,18.600000,...,0.0,20.000000,0.0,0.0,100.000000,201703.0,99.000000,0.0,20.000000,20.000000

In [14]:
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 60)
New_df_4.describe()

,BROWSER_COUNT,COURSE_COUNT,COURSE_LAST_ACCESS,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_PROGRESS,EXAM_GROUP_SCORE,EXAM_FACE_SCORE,EXAM_ONLINE_SCORE,COURSE_SUM_VIDEO_LEN,GRADE,EXAM_HOMEWORK,EXAM_LABSCORE,EXAM_OTHERSCORE,NODEBB_PARTICIPATIONRATE,COURSE_WORKTIME,COURSE_WORKACCURACYRATE,COURSE_WORKCOMPLETERATE,NODEBB_POSTSCOUNT,NODEBB_NORMALBBSPOSTSCOUONT,NODEBB_REALBBSARCHIVECOUNT,NORMALBBSARCHIVECOUNT,COURSE_WORKCOUNT,STUNO,HOMEWORKSCORE,WRITTENASSIGNMENTSCORE,MIDDLEASSIGNMENTSCORE,LABSCORE,OTHERSCORE,TOTALSCORE,STUDYTERM,PROCESS,GROUPSTUDYSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
count,1950.000000,1950.000000,1.950000e+03,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.0,1950.000000,1.950000e+03,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.0,1950.000000,1.950000e+03,1950.000000,1950.0,1950.000000,1950.0,1950.0,1950.000000,1950.0,1950.000000,1950.0,1950.000000,1950.000000
mean,266.023077,1401.327692,1.513165e+09,86.690394,10.558812,5.908947,5.249151,1.537714,10.723109,4.181522,316.390007,201605.841026,38.743130,15.015232,0.0,1.840219,-1.543050e+03,44.105278,77.396108,1.183533,0.001436,0.267344,0.0,8.776948,2.016861e+13,34.664615,0.0,17.282564,0.0,0.0,86.523590,201703.0,4.053333,0.0,17.480410,17.115487
std,252.247323,4276.402732,1.393563e+06,9.896151,6.540453,3.884103,12.629244,1.626306,3.180991,2.146459,1773.965646,88.062728,11.412753,5.876552,0.0,2.884083,5.799059e+04,18.801207,20.673998,2.359001,0.041496,0.391089,0.0,6.739131,8.817219e+09,9.182396,0.0,4.772468,0.0,0.0,16.452716,0.0,18.156840,0.0,3.533648,3.788215
min,3.000000,1.000000,1.503993e+09,18.333333,0.000000,0.000000,0.000000,0.000000,2.685714,0.000000,-5.000000,201203.000000,0.000000,0.000000,0.0,0.000000,-1.191157e+06,0.000000,28.571429,0.000000,0.000000,0.000000,0.0,0.000000,2.012831e+13,0.000000,0.0,0.000000,0.0,0.0,0.000000,201703.0,0.000000,0.0,0.000000,0.000000
25%,105.000000,14.000000,1.512395e+09,83.500000,4.250000,2.000000,0.000000,0.000000,8.371429,2.571429,0.000000,201503.000000,29.875000,11.571429,0.0,0.000000,2.210975e+03,31.773819,66.666667,0.000000,0.000000,0.000000,0.0,4.400000,2.015831e+13,35.000000,0.0,18.000000,0.0,0.0,85.000000,201703.0,0.000000,0.0,17.000000,16.000000
50%,190.000000,70.000000,1.513543e+09,88.787594,10.941558,6.057566,0.555556,1.500000,11.022222,3.189062,0.000000,201603.000000,37.276190,15.809091,0.0,0.000000,4.065700e+03,44.389000,80.000000,0.000000,0.000000,0.000000,0.0,7.222222,2.016831e+13,38.000000,0.0,19.000000,0.0,0.0,92.000000,201703.0,0.000000,0.0,18.000000,18.000000
75%,334.750000,521.500000,1.514146e+09,93.191667,15.800000,8.428571,3.393750,3.000000,12.985833,6.079318,7.875000,201703.000000,48.781818,19.250000,0.0,2.557000,6.821514e+03,54.597500,100.000000,1.333333,0.000000,0.400000,0.0,11.200000,2.017831e+13,39.000000,0.0,20.000000,0.0,0.0,96.000000,201703.0,0.000000,0.0,19.600000,19.600000
max,2182.000000,71043.000000,1.515064e+09,99.666667,29.000000,17.000000,99.000000,11.857143,33.233333,18.600000,45898.600000,201703.000000,68.750000,30.857143,0.0,16.240000,1.097917e+05,203.547500,100.000000,24.500000,1.600000,2.250000,0.0,113.000000,2.017831e+13,40.000000,0.0,20.000000,0.0,0.0,100.000000,201703.0,99.000000,0.0,20.000000,20.000000

In [15]:
#drop columns referring to variables that obviously have no anything to do with academic success, such as user ID, CLASSID, etc
New_df_4.drop(["USERID", "CLASSID", "STUNO", "ID", "STUID", "COURSEOPENID", "STUDYTERM", "COURSEID", "EXAMNUM", "PROCESS", "MAJORID", "STATUS", "GRADE", "GROUPSTUDYSCORE", "OTHERSCORE", "LABSCORE", "WRITTENASSIGNMENTSCORE", "COURSE_LAST_ACCESS", "EXAM_OTHERSCORE", "COURSE_WORKTIME", "NORMALBBSARCHIVECOUNT"], axis=1, inplace=True)

In [16]:
print(New_df_4)

      BROWSER_COUNT  COURSE_COUNT  EXAM_AH_SCORE  EXAM_WRITEN_SCORE  \
0             334.0            11      94.000000           2.727273
1             744.0           407      91.454545           2.727273
2              17.0             9      54.166667           6.166667
3             154.0           133      81.000000           0.000000
4              50.0             1      67.000000           0.000000
...             ...           ...            ...                ...
2001          136.0            10      60.600000           2.700000
2002          333.0          2561      97.916667           2.500000
2003          110.0           187      78.375000           5.625000
2004          629.0           312      94.333333           2.416667
2005          100.0            12      92.000000           9.818182

      EXAM_MIDDLE_SCORE  EXAM_PROGRESS  EXAM_GROUP_SCORE  EXAM_FACE_SCORE  \
0              1.727273       0.000000          0.000000        10.450000
1              1.727273       0.000000          0.000000         9.390909
2              7.500000       0.000000          0.000000        33.233333
3             17.000000      99.000000          0.000000        15.000000
4             17.000000       0.000000          0.000000        15.000000
...                 ...            ...               ...              ...
2001           0.000000       0.000000          0.000000         9.880000
2002           1.666667       8.583333          1.666667        11.304167
2003           9.750000       3.000000          3.375000         6.750000
2004           1.666667       2.250000          1.666667        11.195833
2005           7.181818       0.000000          0.000000        13.627273

      EXAM_ONLINE_SCORE  COURSE_SUM_VIDEO_LEN SEX  EXAM_HOMEWORK  \
0              6.277273                   0.0   女      52.454545
1              5.713636                   0.0   女      51.818182
2              7.333333                   0.0   男       0.000000
3             14.000000                1867.0   女      35.000000
4             14.000000                   0.0   女      21.000000
...                 ...                   ...  ..            ...
2001           6.280000                   0.0   男      35.300000
2002           7.583333                 356.4   女      59.916667
2003           2.000000                   7.5   女      36.000000
2004           7.566667                  68.8   男      59.250000
2005           4.327273                   0.0   女      47.000000

      EXAM_LABSCORE  NODEBB_PARTICIPATIONRATE  COURSE_WORKACCURACYRATE  \
0         20.363636                  9.290000                67.528571
1         20.000000                  6.616667                44.835000
2          0.000000                  0.000000                38.642857
3          0.000000                  0.000000                84.140000
4          0.000000                  0.000000                57.200000
...             ...                       ...                      ...
2001       6.500000                  0.000000                36.458000
2002      13.250000                  1.000000                59.236000
2003      14.875000                  1.087500                44.300000
2004      10.500000                  2.000000                 8.770000
2005       9.909091                  0.000000                49.377500

      COURSE_WORKCOMPLETERATE  NODEBB_POSTSCOUNT  NODEBB_NORMALBBSPOSTSCOUONT  \
0                   94.285714           4.428571                          0.0
1                  100.000000           4.833333                          0.0
2                   85.714286           0.000000                          0.0
3                  100.000000           0.000000                          0.0
4                  100.000000           0.000000                          0.0
...                       ...                ...                          ...
2001               100.000000           0.000000                          0.0
2002                92.000000           1.600000                          0.0
2003                50.000000           0.250000                          0.0
2004                92.000000           0.800000                          0.0
2005                74.317500           0.000000                          0.0

      NODEBB_REALBBSARCHIVECOUNT  COURSE_WORKCOUNT  HOMEWORKSCORE  \
0                       1.571429          6.571429             38
1                       1.333333          8.833333             38
2                       0.000000          0.571429              0
3                       0.000000          7.000000             35
4                       0.000000          5.000000             21
...                          ...               ...            ...
2001                    0.000000          6.200000             30
2002                    0.200000          5.600000             39
2003                    0.250000          2.500000             35
2004                    0.400000         36.200000             39
2005                    0.000000          5.250000             35

      MIDDLEASSIGNMENTSCORE  TOTALSCORE  FACESTUDYSCORE  ONLINESTUDYSCORE
0                        19          97            20.0              20.0
1                        19          94            17.0              20.0
2                        18          52            17.2              17.0
3                        17          81            15.0              14.0
4                        17          67            15.0              14.0
...                     ...         ...             ...               ...
2001                      0          61            15.8              16.0
2002                     20          99            20.0              20.0
2003                     19          87            17.0              16.0
2004                     20          99            20.0              20.0
2005                     19          92            19.0              19.0

[1950 rows x 25 columns]