In [1]:
import pandas as pd
import numpy as ny

df = pd.read_csv("uwide.csv", sep=",")
df.head(15)

,USERID,BROWSER_COUNT,COURSE_COUNT,COURSE_LAST_ACCESS,COURSE_SUM_VIEW,COURSE_AVG_SCORE,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_LAB,...,LABSCORE,OTHERSCORE,TOTALSCORE,STUDYTERM,COURSEID,EXAMNUM,PROCESS,GROUPSTUDYSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
0,310_20178310080783,334.0,11,1.513620e+09,NaN,0.000000,94.000000,2.727273,1.727273,30.583333,...,0,0,97,201703,310_260000656,"2,7510",0,0,20.0,20.0
1,310_20178310080790,744.0,407,1.513371e+09,0.718819,0.416819,91.454545,2.727273,1.727273,21.350000,...,0,0,94,201703,310_260000656,"2,7510",0,0,17.0,20.0
2,310_20128310060450,17.0,9,1.505817e+09,NaN,NaN,54.166667,6.166667,7.500000,NaN,...,0,0,52,201703,310_260000656,"2,7510",0,0,17.2,17.0
3,310_20128310320840,154.0,133,1.513881e+09,0.021609,NaN,81.000000,0.000000,17.000000,NaN,...,0,0,81,201703,310_260000656,"2,7510",99,0,15.0,14.0
4,310_20128310320777,50.0,1,1.514159e+09,NaN,NaN,67.000000,0.000000,17.000000,NaN,...,0,0,67,201703,310_260000656,"2,7510",0,0,15.0,14.0
5,310_20138310060308,138.0,45,1.514115e+09,0.000174,NaN,77.400000,7.400000,10.000000,NaN,...,0,0,87,201703,310_260000656,"2,7510",0,0,17.2,17.0
6,310_20138310320705,54.0,1,1.513362e+09,NaN,NaN,50.000000,0.000000,17.000000,NaN,...,0,0,50,201703,310_260000656,"2,7510",0,0,15.0,14.0
7,310_20138310250134,80.0,7,1.509478e+09,NaN,NaN,87.500000,3.000000,6.500000,NaN,...,0,0,95,201703,310_260000656,"2,7510",0,0,19.0,19.0
8,310_20138310250135,227.0,8,1.509026e+09,NaN,NaN,89.375000,2.250000,4.875000,NaN,...,0,0,94,201703,310_260000656,"2,7510",0,0,19.0,19.0
9,310_20168310450071,238.0,1368,1.513982e+09,0.306042,NaN,71.733333,9.066667,5.533333,26.166667,...,0,0,38,201703,310_260000656,"2,7510",0,0,0.0,0.0
10,310_20168310450070,402.0,3132,1.513761e+09,272.285208,NaN,75.066667,9.533333,5.600000,30.833333,...,0,0,36,201703,310_260000656,"2,7510",9,0,0.0,0.0
11,310_20158310100790,178.0,228,1.514912e+09,0.020278,NaN,93.428571,7.142857,8.000000,32.750000,...,0,0,93,201703,310_260000656,"2,7510",0,0,20.0,18.0
12,310_20158310100799,290.0,11,1.514469e+09,0.016296,0.000000,93.666667,8.333333,9.333333,NaN,...,0,0,88,201703,310_260000656,"2,7510",0,0,17.0,18.0
13,310_20158310100797,57.0,12,1.514121e+09,0.001806,NaN,94.571429,7.142857,8.000000,31.250000,...,0,0,92,201703,310_260000656,"2,7510",0,0,20.0,18.0
14,310_20158310100752,93.0,36,1.514120e+09,0.005000,0.668817,89.714286,7.142857,7.571429,27.833333,...,0,0,86,201703,310_260000656,"2,7510",0,0,16.4,18.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 52 columns):
USERID                         2006 non-null object
BROWSER_COUNT                  1950 non-null float64
COURSE_COUNT                   2006 non-null int64
COURSE_LAST_ACCESS             1950 non-null float64
COURSE_SUM_VIEW                1327 non-null float64
COURSE_AVG_SCORE               228 non-null float64
EXAM_AH_SCORE                  2006 non-null float64
EXAM_WRITEN_SCORE              2006 non-null float64
EXAM_MIDDLE_SCORE              2006 non-null float64
EXAM_LAB                       1468 non-null float64
EXAM_PROGRESS                  2006 non-null float64
EXAM_GROUP_SCORE               2006 non-null float64
EXAM_FACE_SCORE                2006 non-null float64
EXAM_ONLINE_SCORE              2006 non-null float64
NODEBB_LAST_POST               750 non-null float64
NODEBB_CHANNEL_COUNT           750 non-null float64
NODEBB_TOPIC_COUNT             750 non-null float64
COURSE_SUM_VIDEO_LEN           2005 non-null float64
SEX                            2006 non-null object
MAJORID                        2006 non-null object
STATUS                         2006 non-null object
GRADE                          2006 non-null int64
CLASSID                        2006 non-null object
EXAM_HOMEWORK                  2006 non-null float64
EXAM_LABSCORE                  2006 non-null float64
EXAM_OTHERSCORE                2006 non-null int64
NODEBB_PARTICIPATIONRATE       2005 non-null float64
COURSE_WORKTIME                2005 non-null float64
COURSE_WORKACCURACYRATE        2005 non-null float64
COURSE_WORKCOMPLETERATE        2005 non-null float64
NODEBB_POSTSCOUNT              2005 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    2005 non-null float64
NODEBB_REALBBSARCHIVECOUNT     2005 non-null float64
NORMALBBSARCHIVECOUNT          2005 non-null float64
COURSE_WORKCOUNT               2005 non-null float64
STUNO                          2006 non-null int64
ID                             2006 non-null object
STUID                          2006 non-null object
COURSEOPENID                   2006 non-null object
HOMEWORKSCORE                  2006 non-null int64
WRITTENASSIGNMENTSCORE         2006 non-null int64
MIDDLEASSIGNMENTSCORE          2006 non-null int64
LABSCORE                       2006 non-null int64
OTHERSCORE                     2006 non-null int64
TOTALSCORE                     2006 non-null int64
STUDYTERM                      2006 non-null int64
COURSEID                       2006 non-null object
EXAMNUM                        2006 non-null object
PROCESS                        2006 non-null int64
GROUPSTUDYSCORE                2006 non-null int64
FACESTUDYSCORE                 2006 non-null float64
ONLINESTUDYSCORE               2006 non-null float64
dtypes: float64(29), int64(13), object(10)
memory usage: 815.1+ KB

In [3]:
df.describe()

,BROWSER_COUNT,COURSE_COUNT,COURSE_LAST_ACCESS,COURSE_SUM_VIEW,COURSE_AVG_SCORE,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_LAB,EXAM_PROGRESS,...,WRITTENASSIGNMENTSCORE,MIDDLEASSIGNMENTSCORE,LABSCORE,OTHERSCORE,TOTALSCORE,STUDYTERM,PROCESS,GROUPSTUDYSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
count,1950.000000,2006.000000,1.950000e+03,1327.000000,228.000000,2006.000000,2006.000000,2006.000000,1468.000000,2006.000000,...,2006.0,2006.000000,2006.0,2006.0,2006.000000,2006.0,2006.000000,2006.0,2006.000000,2006.000000
mean,266.023077,1369.385344,1.513165e+09,477.848950,0.443196,85.837506,10.484416,5.847288,34.530274,5.117191,...,0.0,17.133599,0.0,0.0,85.365902,201703.0,3.940179,0.0,17.419242,17.059821
std,252.247323,4224.334880,1.393563e+06,2961.198469,0.218687,11.497755,6.547428,3.880040,13.395989,12.482049,...,0.0,4.955976,0.0,0.0,17.827595,0.0,17.913937,0.0,3.583749,3.830375
min,3.000000,1.000000,1.503993e+09,-0.015417,0.000000,18.333333,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,201703.0,0.000000,0.0,0.000000,0.000000
25%,105.000000,13.000000,1.512395e+09,0.023900,0.302937,83.000000,3.923611,2.000000,26.182292,0.000000,...,0.0,17.000000,0.0,0.0,84.250000,201703.0,0.000000,0.0,17.000000,16.000000
50%,190.000000,63.000000,1.513543e+09,0.400961,0.435340,88.516667,10.857143,6.000000,30.166667,0.500000,...,0.0,19.000000,0.0,0.0,91.000000,201703.0,0.000000,0.0,18.000000,18.000000
75%,334.750000,495.000000,1.514146e+09,2.282650,0.550064,93.062500,15.750000,8.428571,39.934375,3.222222,...,0.0,20.000000,0.0,0.0,96.000000,201703.0,0.000000,0.0,19.600000,19.600000
max,2182.000000,71043.000000,1.515064e+09,61494.619641,1.000000,99.666667,29.000000,17.000000,70.000000,99.000000,...,0.0,20.000000,0.0,0.0,100.000000,201703.0,99.000000,0.0,20.000000,20.000000

In [4]:
df.isnull().sum()

USERID                            0
BROWSER_COUNT                    56
COURSE_COUNT                      0
COURSE_LAST_ACCESS               56
COURSE_SUM_VIEW                 679
COURSE_AVG_SCORE               1778
EXAM_AH_SCORE                     0
EXAM_WRITEN_SCORE                 0
EXAM_MIDDLE_SCORE                 0
EXAM_LAB                        538
EXAM_PROGRESS                     0
EXAM_GROUP_SCORE                  0
EXAM_FACE_SCORE                   0
EXAM_ONLINE_SCORE                 0
NODEBB_LAST_POST               1256
NODEBB_CHANNEL_COUNT           1256
NODEBB_TOPIC_COUNT             1256
COURSE_SUM_VIDEO_LEN              1
SEX                               0
MAJORID                           0
STATUS                            0
GRADE                             0
CLASSID                           0
EXAM_HOMEWORK                     0
EXAM_LABSCORE                     0
EXAM_OTHERSCORE                   0
NODEBB_PARTICIPATIONRATE          1
COURSE_WORKTIME                   1
COURSE_WORKACCURACYRATE           1
COURSE_WORKCOMPLETERATE           1
NODEBB_POSTSCOUNT                 1
NODEBB_NORMALBBSPOSTSCOUONT       1
NODEBB_REALBBSARCHIVECOUNT        1
NORMALBBSARCHIVECOUNT             1
COURSE_WORKCOUNT                  1
STUNO                             0
ID                                0
STUID                             0
COURSEOPENID                      0
HOMEWORKSCORE                     0
WRITTENASSIGNMENTSCORE            0
MIDDLEASSIGNMENTSCORE             0
LABSCORE                          0
OTHERSCORE                        0
TOTALSCORE                        0
STUDYTERM                         0
COURSEID                          0
EXAMNUM                           0
PROCESS                           0
GROUPSTUDYSCORE                   0
FACESTUDYSCORE                    0
ONLINESTUDYSCORE                  0
dtype: int64

In [5]:
New_df = df.dropna(thresh=0.95*len(df), axis=1)
New_df = New_df.dropna(axis=0)
print(New_df)

                  USERID  BROWSER_COUNT  COURSE_COUNT  COURSE_LAST_ACCESS  \
0     310_20178310080783          334.0            11        1.513620e+09
1     310_20178310080790          744.0           407        1.513371e+09
2     310_20128310060450           17.0             9        1.505817e+09
3     310_20128310320840          154.0           133        1.513881e+09
4     310_20128310320777           50.0             1        1.514159e+09
...                  ...            ...           ...                 ...
2001  310_20178310100737          136.0            10        1.513991e+09
2002  310_20178310040424          333.0          2561        1.514234e+09
2003  310_20158310880546          110.0           187        1.514218e+09
2004  310_20178310040418          629.0           312        1.514318e+09
2005  310_20178310250002          100.0            12        1.512167e+09

      EXAM_AH_SCORE  EXAM_WRITEN_SCORE  EXAM_MIDDLE_SCORE  EXAM_PROGRESS  \
0         94.000000           2.727273           1.727273       0.000000
1         91.454545           2.727273           1.727273       0.000000
2         54.166667           6.166667           7.500000       0.000000
3         81.000000           0.000000          17.000000      99.000000
4         67.000000           0.000000          17.000000       0.000000
...             ...                ...                ...            ...
2001      60.600000           2.700000           0.000000       0.000000
2002      97.916667           2.500000           1.666667       8.583333
2003      78.375000           5.625000           9.750000       3.000000
2004      94.333333           2.416667           1.666667       2.250000
2005      92.000000           9.818182           7.181818       0.000000

      EXAM_GROUP_SCORE  EXAM_FACE_SCORE  ...  LABSCORE  OTHERSCORE TOTALSCORE  \
0             0.000000        10.450000  ...         0           0         97
1             0.000000         9.390909  ...         0           0         94
2             0.000000        33.233333  ...         0           0         52
3             0.000000        15.000000  ...         0           0         81
4             0.000000        15.000000  ...         0           0         67
...                ...              ...  ...       ...         ...        ...
2001          0.000000         9.880000  ...         0           0         61
2002          1.666667        11.304167  ...         0           0         99
2003          3.375000         6.750000  ...         0           0         87
2004          1.666667        11.195833  ...         0           0         99
2005          0.000000        13.627273  ...         0           0         92

     STUDYTERM       COURSEID  EXAMNUM PROCESS  GROUPSTUDYSCORE  \
0       201703  310_260000656   2,7510       0                0
1       201703  310_260000656   2,7510       0                0
2       201703  310_260000656   2,7510       0                0
3       201703  310_260000656   2,7510      99                0
4       201703  310_260000656   2,7510       0                0
...        ...            ...      ...     ...              ...
2001    201703  310_260000656   2,7510       0                0
2002    201703  310_260000656   2,7510       0                0
2003    201703  310_260000656     7510       0                0
2004    201703  310_260000656   2,7510       0                0
2005    201703  310_260000656   2,7510       0                0

      FACESTUDYSCORE  ONLINESTUDYSCORE
0               20.0              20.0
1               17.0              20.0
2               17.2              17.0
3               15.0              14.0
4               15.0              14.0
...              ...               ...
2001            15.8              16.0
2002            20.0              20.0
2003            17.0              16.0
2004            20.0              20.0
2005            19.0              19.0

[1950 rows x 46 columns]

In [6]:
New_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1950 entries, 0 to 2005
Data columns (total 46 columns):
USERID                         1950 non-null object
BROWSER_COUNT                  1950 non-null float64
COURSE_COUNT                   1950 non-null int64
COURSE_LAST_ACCESS             1950 non-null float64
EXAM_AH_SCORE                  1950 non-null float64
EXAM_WRITEN_SCORE              1950 non-null float64
EXAM_MIDDLE_SCORE              1950 non-null float64
EXAM_PROGRESS                  1950 non-null float64
EXAM_GROUP_SCORE               1950 non-null float64
EXAM_FACE_SCORE                1950 non-null float64
EXAM_ONLINE_SCORE              1950 non-null float64
COURSE_SUM_VIDEO_LEN           1950 non-null float64
SEX                            1950 non-null object
MAJORID                        1950 non-null object
STATUS                         1950 non-null object
GRADE                          1950 non-null int64
CLASSID                        1950 non-null object
EXAM_HOMEWORK                  1950 non-null float64
EXAM_LABSCORE                  1950 non-null float64
EXAM_OTHERSCORE                1950 non-null int64
NODEBB_PARTICIPATIONRATE       1950 non-null float64
COURSE_WORKTIME                1950 non-null float64
COURSE_WORKACCURACYRATE        1950 non-null float64
COURSE_WORKCOMPLETERATE        1950 non-null float64
NODEBB_POSTSCOUNT              1950 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    1950 non-null float64
NODEBB_REALBBSARCHIVECOUNT     1950 non-null float64
NORMALBBSARCHIVECOUNT          1950 non-null float64
COURSE_WORKCOUNT               1950 non-null float64
STUNO                          1950 non-null int64
ID                             1950 non-null object
STUID                          1950 non-null object
COURSEOPENID                   1950 non-null object
HOMEWORKSCORE                  1950 non-null int64
WRITTENASSIGNMENTSCORE         1950 non-null int64
MIDDLEASSIGNMENTSCORE          1950 non-null int64
LABSCORE                       1950 non-null int64
OTHERSCORE                     1950 non-null int64
TOTALSCORE                     1950 non-null int64
STUDYTERM                      1950 non-null int64
COURSEID                       1950 non-null object
EXAMNUM                        1950 non-null object
PROCESS                        1950 non-null int64
GROUPSTUDYSCORE                1950 non-null int64
FACESTUDYSCORE                 1950 non-null float64
ONLINESTUDYSCORE               1950 non-null float64
dtypes: float64(23), int64(13), object(10)
memory usage: 716.0+ KB

In [7]:
New_df.describe()

,BROWSER_COUNT,COURSE_COUNT,COURSE_LAST_ACCESS,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_PROGRESS,EXAM_GROUP_SCORE,EXAM_FACE_SCORE,EXAM_ONLINE_SCORE,...,WRITTENASSIGNMENTSCORE,MIDDLEASSIGNMENTSCORE,LABSCORE,OTHERSCORE,TOTALSCORE,STUDYTERM,PROCESS,GROUPSTUDYSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
count,1950.000000,1950.000000,1.950000e+03,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,1950.000000,...,1950.0,1950.000000,1950.0,1950.0,1950.000000,1950.0,1950.000000,1950.0,1950.000000,1950.000000
mean,266.023077,1401.327692,1.513165e+09,86.690394,10.558812,5.908947,5.249151,1.537714,10.723109,4.181522,...,0.0,17.282564,0.0,0.0,86.523590,201703.0,4.053333,0.0,17.480410,17.115487
std,252.247323,4276.402732,1.393563e+06,9.896151,6.540453,3.884103,12.629244,1.626306,3.180991,2.146459,...,0.0,4.772468,0.0,0.0,16.452716,0.0,18.156840,0.0,3.533648,3.788215
min,3.000000,1.000000,1.503993e+09,18.333333,0.000000,0.000000,0.000000,0.000000,2.685714,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,201703.0,0.000000,0.0,0.000000,0.000000
25%,105.000000,14.000000,1.512395e+09,83.500000,4.250000,2.000000,0.000000,0.000000,8.371429,2.571429,...,0.0,18.000000,0.0,0.0,85.000000,201703.0,0.000000,0.0,17.000000,16.000000
50%,190.000000,70.000000,1.513543e+09,88.787594,10.941558,6.057566,0.555556,1.500000,11.022222,3.189062,...,0.0,19.000000,0.0,0.0,92.000000,201703.0,0.000000,0.0,18.000000,18.000000
75%,334.750000,521.500000,1.514146e+09,93.191667,15.800000,8.428571,3.393750,3.000000,12.985833,6.079318,...,0.0,20.000000,0.0,0.0,96.000000,201703.0,0.000000,0.0,19.600000,19.600000
max,2182.000000,71043.000000,1.515064e+09,99.666667,29.000000,17.000000,99.000000,11.857143,33.233333,18.600000,...,0.0,20.000000,0.0,0.0,100.000000,201703.0,99.000000,0.0,20.000000,20.000000

In [8]:
New_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1950 entries, 0 to 2005
Data columns (total 46 columns):
USERID                         1950 non-null object
BROWSER_COUNT                  1950 non-null float64
COURSE_COUNT                   1950 non-null int64
COURSE_LAST_ACCESS             1950 non-null float64
EXAM_AH_SCORE                  1950 non-null float64
EXAM_WRITEN_SCORE              1950 non-null float64
EXAM_MIDDLE_SCORE              1950 non-null float64
EXAM_PROGRESS                  1950 non-null float64
EXAM_GROUP_SCORE               1950 non-null float64
EXAM_FACE_SCORE                1950 non-null float64
EXAM_ONLINE_SCORE              1950 non-null float64
COURSE_SUM_VIDEO_LEN           1950 non-null float64
SEX                            1950 non-null object
MAJORID                        1950 non-null object
STATUS                         1950 non-null object
GRADE                          1950 non-null int64
CLASSID                        1950 non-null object
EXAM_HOMEWORK                  1950 non-null float64
EXAM_LABSCORE                  1950 non-null float64
EXAM_OTHERSCORE                1950 non-null int64
NODEBB_PARTICIPATIONRATE       1950 non-null float64
COURSE_WORKTIME                1950 non-null float64
COURSE_WORKACCURACYRATE        1950 non-null float64
COURSE_WORKCOMPLETERATE        1950 non-null float64
NODEBB_POSTSCOUNT              1950 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    1950 non-null float64
NODEBB_REALBBSARCHIVECOUNT     1950 non-null float64
NORMALBBSARCHIVECOUNT          1950 non-null float64
COURSE_WORKCOUNT               1950 non-null float64
STUNO                          1950 non-null int64
ID                             1950 non-null object
STUID                          1950 non-null object
COURSEOPENID                   1950 non-null object
HOMEWORKSCORE                  1950 non-null int64
WRITTENASSIGNMENTSCORE         1950 non-null int64
MIDDLEASSIGNMENTSCORE          1950 non-null int64
LABSCORE                       1950 non-null int64
OTHERSCORE                     1950 non-null int64
TOTALSCORE                     1950 non-null int64
STUDYTERM                      1950 non-null int64
COURSEID                       1950 non-null object
EXAMNUM                        1950 non-null object
PROCESS                        1950 non-null int64
GROUPSTUDYSCORE                1950 non-null int64
FACESTUDYSCORE                 1950 non-null float64
ONLINESTUDYSCORE               1950 non-null float64
dtypes: float64(23), int64(13), object(10)
memory usage: 716.0+ KB

In [9]:
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 60)

#drop columns referring to variables (1) that obviously have no anything to do with academic success, such as user ID, CLASSID, etc, or (2) that have low quality of data

columns = ["USERID", "CLASSID", "STUNO", "ID", "STUID", "COURSEOPENID", "STUDYTERM", "COURSEID", "EXAMNUM", "PROCESS", "MAJORID", "STATUS", "GRADE", "GROUPSTUDYSCORE", "OTHERSCORE", "LABSCORE", "WRITTENASSIGNMENTSCORE", "COURSE_LAST_ACCESS", "EXAM_OTHERSCORE", "COURSE_WORKTIME", "NORMALBBSARCHIVECOUNT"]

New_df2 = New_df

New_df2.drop(columns, inplace=True, axis=1)  #Why it cannot be coded as New_df2 = New_df.drop(columns, inplace=True, axis=1)

In [10]:
New_df.info() #Why New-df was changed as well???

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1950 entries, 0 to 2005
Data columns (total 25 columns):
BROWSER_COUNT                  1950 non-null float64
COURSE_COUNT                   1950 non-null int64
EXAM_AH_SCORE                  1950 non-null float64
EXAM_WRITEN_SCORE              1950 non-null float64
EXAM_MIDDLE_SCORE              1950 non-null float64
EXAM_PROGRESS                  1950 non-null float64
EXAM_GROUP_SCORE               1950 non-null float64
EXAM_FACE_SCORE                1950 non-null float64
EXAM_ONLINE_SCORE              1950 non-null float64
COURSE_SUM_VIDEO_LEN           1950 non-null float64
SEX                            1950 non-null object
EXAM_HOMEWORK                  1950 non-null float64
EXAM_LABSCORE                  1950 non-null float64
NODEBB_PARTICIPATIONRATE       1950 non-null float64
COURSE_WORKACCURACYRATE        1950 non-null float64
COURSE_WORKCOMPLETERATE        1950 non-null float64
NODEBB_POSTSCOUNT              1950 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    1950 non-null float64
NODEBB_REALBBSARCHIVECOUNT     1950 non-null float64
COURSE_WORKCOUNT               1950 non-null float64
HOMEWORKSCORE                  1950 non-null int64
MIDDLEASSIGNMENTSCORE          1950 non-null int64
TOTALSCORE                     1950 non-null int64
FACESTUDYSCORE                 1950 non-null float64
ONLINESTUDYSCORE               1950 non-null float64
dtypes: float64(20), int64(4), object(1)
memory usage: 396.1+ KB

In [11]:
New_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1950 entries, 0 to 2005
Data columns (total 25 columns):
BROWSER_COUNT                  1950 non-null float64
COURSE_COUNT                   1950 non-null int64
EXAM_AH_SCORE                  1950 non-null float64
EXAM_WRITEN_SCORE              1950 non-null float64
EXAM_MIDDLE_SCORE              1950 non-null float64
EXAM_PROGRESS                  1950 non-null float64
EXAM_GROUP_SCORE               1950 non-null float64
EXAM_FACE_SCORE                1950 non-null float64
EXAM_ONLINE_SCORE              1950 non-null float64
COURSE_SUM_VIDEO_LEN           1950 non-null float64
SEX                            1950 non-null object
EXAM_HOMEWORK                  1950 non-null float64
EXAM_LABSCORE                  1950 non-null float64
NODEBB_PARTICIPATIONRATE       1950 non-null float64
COURSE_WORKACCURACYRATE        1950 non-null float64
COURSE_WORKCOMPLETERATE        1950 non-null float64
NODEBB_POSTSCOUNT              1950 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    1950 non-null float64
NODEBB_REALBBSARCHIVECOUNT     1950 non-null float64
COURSE_WORKCOUNT               1950 non-null float64
HOMEWORKSCORE                  1950 non-null int64
MIDDLEASSIGNMENTSCORE          1950 non-null int64
TOTALSCORE                     1950 non-null int64
FACESTUDYSCORE                 1950 non-null float64
ONLINESTUDYSCORE               1950 non-null float64
dtypes: float64(20), int64(4), object(1)
memory usage: 396.1+ KB

In [12]:
New_df2.index = range(len(New_df2)) #otherwise, the index are still the same as the 2006's

In [13]:
a = New_df2["TOTALSCORE"].isin([60])
print(a)
New_df2[a]

0       False
1       False
2       False
3       False
4       False
        ...
1945    False
1946    False
1947    False
1948    False
1949    False
Name: TOTALSCORE, Length: 1950, dtype: bool

,BROWSER_COUNT,COURSE_COUNT,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_PROGRESS,EXAM_GROUP_SCORE,EXAM_FACE_SCORE,EXAM_ONLINE_SCORE,COURSE_SUM_VIDEO_LEN,SEX,EXAM_HOMEWORK,EXAM_LABSCORE,NODEBB_PARTICIPATIONRATE,COURSE_WORKACCURACYRATE,COURSE_WORKCOMPLETERATE,NODEBB_POSTSCOUNT,NODEBB_NORMALBBSPOSTSCOUONT,NODEBB_REALBBSARCHIVECOUNT,COURSE_WORKCOUNT,HOMEWORKSCORE,MIDDLEASSIGNMENTSCORE,TOTALSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
168,15.0,12,77.500000,13.000000,5.500000,2.125000,3.675000,5.781250,2.500000,0.0,女,27.250000,19.875000,0.000000,33.333333,33.333333,0.000000,0.0,0.000000,0.333333,0,20,60,20.0,20.0
177,86.0,16,85.500000,0.000000,6.000000,0.000000,0.000000,21.800000,11.000000,0.0,男,42.700000,4.000000,10.000000,68.950000,80.000000,0.800000,0.0,0.200000,2.400000,0,20,60,20.0,20.0
368,144.0,23,68.190476,9.380952,9.142857,0.000000,5.952381,11.173810,3.776190,0.0,男,25.190476,3.476190,0.000000,15.720000,66.666667,0.000000,0.0,0.000000,2.833333,4,18,60,19.2,19.0
470,45.0,18,85.937500,15.875000,5.875000,0.000000,1.818750,11.571875,2.975000,0.0,女,27.062500,20.812500,0.000000,46.846000,80.000000,0.000000,0.0,0.000000,3.400000,5,17,60,19.2,19.6
848,171.0,12,87.727273,9.909091,3.636364,0.000000,0.000000,13.790909,4.363636,0.0,女,44.272727,11.727273,0.000000,44.777500,74.317500,0.000000,0.0,0.000000,8.750000,3,19,60,19.0,19.0
1270,7.0,9,73.222222,0.000000,2.222222,0.000000,2.222222,9.750000,8.716667,0.0,女,39.111111,11.111111,0.000000,20.000000,92.000000,0.000000,0.0,0.000000,0.200000,0,20,60,20.0,20.0
1545,223.0,5542,72.571429,11.285714,4.428571,6.214286,0.000000,11.317857,2.632143,0.0,男,34.285714,8.571429,0.000000,28.230000,83.333333,0.000000,0.0,0.000000,3.500000,24,12,60,12.0,12.0
1598,42.0,1092,72.833333,13.333333,5.083333,16.750000,0.000000,10.858333,4.125000,0.0,女,24.666667,14.750000,0.000000,51.182500,100.000000,0.000000,0.0,0.000000,3.000000,0,20,60,20.0,20.0
1670,101.0,12,78.363636,2.727273,1.727273,0.000000,0.000000,9.204545,5.322727,0.0,男,44.454545,14.818182,5.741429,45.442857,100.000000,3.714286,0.0,0.571429,3.142857,8,19,60,17.0,16.0
1879,5.0,11,78.625000,17.625000,7.000000,0.000000,3.600000,7.281250,2.500000,0.0,女,29.875000,10.750000,0.000000,33.333333,33.333333,0.000000,0.0,0.000000,0.333333,0,20,60,20.0,20.0

In [14]:
b = New_df2["TOTALSCORE"].isin([59])
print(b)
New_df2[b]

0       False
1       False
2       False
3       False
4       False
        ...
1945    False
1946    False
1947    False
1948    False
1949    False
Name: TOTALSCORE, Length: 1950, dtype: bool

,BROWSER_COUNT,COURSE_COUNT,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_PROGRESS,EXAM_GROUP_SCORE,EXAM_FACE_SCORE,EXAM_ONLINE_SCORE,COURSE_SUM_VIDEO_LEN,SEX,EXAM_HOMEWORK,EXAM_LABSCORE,NODEBB_PARTICIPATIONRATE,COURSE_WORKACCURACYRATE,COURSE_WORKCOMPLETERATE,NODEBB_POSTSCOUNT,NODEBB_NORMALBBSPOSTSCOUONT,NODEBB_REALBBSARCHIVECOUNT,COURSE_WORKCOUNT,HOMEWORKSCORE,MIDDLEASSIGNMENTSCORE,TOTALSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
958,153.0,11,72.666667,7.500000,9.666667,0.0,4.4500,8.000000,2.933333,0.0,女,40.333333,0.000000,1.0875,4.50500,50.0,0.25,0.0,0.25,6.75,6,18,59,17.6,17.6
964,26.0,21,76.052632,11.105263,3.947368,0.0,0.0000,13.676316,3.665789,0.0,女,28.315789,15.315789,0.0000,52.19125,75.0,0.00,0.0,0.00,3.50,5,18,59,18.0,18.0
1362,162.0,11,53.000000,6.272727,1.818182,0.0,0.0000,10.090909,6.918182,0.0,男,12.454545,15.363636,0.0000,23.87000,100.0,0.00,0.0,0.00,10.20,6,20,59,17.0,16.0
1364,14.0,24,79.500000,17.250000,10.375000,0.0,3.5625,6.075000,2.425000,0.0,女,19.875000,19.875000,0.0000,22.16500,50.0,0.00,0.0,0.00,1.50,4,19,59,16.6,19.4

In [15]:
bins = [-ny.inf, 60, ny.inf] #前包後不包
labels=["FAIL", "PASS"]
New_df2["TOTALSCORE"] = pd.cut(New_df2["TOTALSCORE"], bins=bins, labels=labels, right=False)
print(New_df2["TOTALSCORE"])

0       PASS
1       PASS
2       FAIL
3       PASS
4       PASS
        ...
1945    PASS
1946    PASS
1947    PASS
1948    PASS
1949    PASS
Name: TOTALSCORE, Length: 1950, dtype: category
Categories (2, object): [FAIL < PASS]

In [16]:
New_df2.iloc[[168,177,368,470,848,1270,1545,1598,1670,1879],22]

168     PASS
177     PASS
368     PASS
470     PASS
848     PASS
1270    PASS
1545    PASS
1598    PASS
1670    PASS
1879    PASS
Name: TOTALSCORE, dtype: category
Categories (2, object): [FAIL < PASS]

In [17]:
New_df2.iloc[[958,964,1362,1364],22]

958     FAIL
964     FAIL
1362    FAIL
1364    FAIL
Name: TOTALSCORE, dtype: category
Categories (2, object): [FAIL < PASS]

In [18]:
#Factorize gender
New_df2.SEX[New_df2.SEX == "男"] = 1
New_df2.SEX[New_df2.SEX == "女"] = 0
New_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950 entries, 0 to 1949
Data columns (total 25 columns):
BROWSER_COUNT                  1950 non-null float64
COURSE_COUNT                   1950 non-null int64
EXAM_AH_SCORE                  1950 non-null float64
EXAM_WRITEN_SCORE              1950 non-null float64
EXAM_MIDDLE_SCORE              1950 non-null float64
EXAM_PROGRESS                  1950 non-null float64
EXAM_GROUP_SCORE               1950 non-null float64
EXAM_FACE_SCORE                1950 non-null float64
EXAM_ONLINE_SCORE              1950 non-null float64
COURSE_SUM_VIDEO_LEN           1950 non-null float64
SEX                            1950 non-null object
EXAM_HOMEWORK                  1950 non-null float64
EXAM_LABSCORE                  1950 non-null float64
NODEBB_PARTICIPATIONRATE       1950 non-null float64
COURSE_WORKACCURACYRATE        1950 non-null float64
COURSE_WORKCOMPLETERATE        1950 non-null float64
NODEBB_POSTSCOUNT              1950 non-null float64
NODEBB_NORMALBBSPOSTSCOUONT    1950 non-null float64
NODEBB_REALBBSARCHIVECOUNT     1950 non-null float64
COURSE_WORKCOUNT               1950 non-null float64
HOMEWORKSCORE                  1950 non-null int64
MIDDLEASSIGNMENTSCORE          1950 non-null int64
TOTALSCORE                     1950 non-null category
FACESTUDYSCORE                 1950 non-null float64
ONLINESTUDYSCORE               1950 non-null float64
dtypes: category(1), float64(20), int64(3), object(1)
memory usage: 367.7+ KB

C:\Users\lawre\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lawre\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
New_df2.SEX

0       0
1       0
2       1
3       0
4       0
       ..
1945    1
1946    0
1947    0
1948    1
1949    0
Name: SEX, Length: 1950, dtype: object

In [20]:
features = New_df2[New_df2.columns[~New_df2.columns.isin(["TOTALSCORE"])]]
features

,BROWSER_COUNT,COURSE_COUNT,EXAM_AH_SCORE,EXAM_WRITEN_SCORE,EXAM_MIDDLE_SCORE,EXAM_PROGRESS,EXAM_GROUP_SCORE,EXAM_FACE_SCORE,EXAM_ONLINE_SCORE,COURSE_SUM_VIDEO_LEN,SEX,EXAM_HOMEWORK,EXAM_LABSCORE,NODEBB_PARTICIPATIONRATE,COURSE_WORKACCURACYRATE,COURSE_WORKCOMPLETERATE,NODEBB_POSTSCOUNT,NODEBB_NORMALBBSPOSTSCOUONT,NODEBB_REALBBSARCHIVECOUNT,COURSE_WORKCOUNT,HOMEWORKSCORE,MIDDLEASSIGNMENTSCORE,FACESTUDYSCORE,ONLINESTUDYSCORE
0,334.0,11,94.000000,2.727273,1.727273,0.000000,0.000000,10.450000,6.277273,0.0,0,52.454545,20.363636,9.290000,67.528571,94.285714,4.428571,0.0,1.571429,6.571429,38,19,20.0,20.0
1,744.0,407,91.454545,2.727273,1.727273,0.000000,0.000000,9.390909,5.713636,0.0,0,51.818182,20.000000,6.616667,44.835000,100.000000,4.833333,0.0,1.333333,8.833333,38,19,17.0,20.0
2,17.0,9,54.166667,6.166667,7.500000,0.000000,0.000000,33.233333,7.333333,0.0,1,0.000000,0.000000,0.000000,38.642857,85.714286,0.000000,0.0,0.000000,0.571429,0,18,17.2,17.0
3,154.0,133,81.000000,0.000000,17.000000,99.000000,0.000000,15.000000,14.000000,1867.0,0,35.000000,0.000000,0.000000,84.140000,100.000000,0.000000,0.0,0.000000,7.000000,35,17,15.0,14.0
4,50.0,1,67.000000,0.000000,17.000000,0.000000,0.000000,15.000000,14.000000,0.0,0,21.000000,0.000000,0.000000,57.200000,100.000000,0.000000,0.0,0.000000,5.000000,21,17,15.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1945,136.0,10,60.600000,2.700000,0.000000,0.000000,0.000000,9.880000,6.280000,0.0,1,35.300000,6.500000,0.000000,36.458000,100.000000,0.000000,0.0,0.000000,6.200000,30,0,15.8,16.0
1946,333.0,2561,97.916667,2.500000,1.666667,8.583333,1.666667,11.304167,7.583333,356.4,0,59.916667,13.250000,1.000000,59.236000,92.000000,1.600000,0.0,0.200000,5.600000,39,20,20.0,20.0
1947,110.0,187,78.375000,5.625000,9.750000,3.000000,3.375000,6.750000,2.000000,7.5,0,36.000000,14.875000,1.087500,44.300000,50.000000,0.250000,0.0,0.250000,2.500000,35,19,17.0,16.0
1948,629.0,312,94.333333,2.416667,1.666667,2.250000,1.666667,11.195833,7.566667,68.8,1,59.250000,10.500000,2.000000,8.770000,92.000000,0.800000,0.0,0.400000,36.200000,39,20,20.0,20.0
1949,100.0,12,92.000000,9.818182,7.181818,0.000000,0.000000,13.627273,4.327273,0.0,0,47.000000,9.909091,0.000000,49.377500,74.317500,0.000000,0.0,0.000000,5.250000,35,19,19.0,19.0

In [21]:
target = New_df2["TOTALSCORE"]
target

0       PASS
1       PASS
2       FAIL
3       PASS
4       PASS
        ...
1945    PASS
1946    PASS
1947    PASS
1948    PASS
1949    PASS
Name: TOTALSCORE, Length: 1950, dtype: category
Categories (2, object): [FAIL < PASS]

In [22]:
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import KFold, cross_val_score, StratifiedKFold, train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import AdaBoostClassifier

In [23]:
standardizer = StandardScaler()

RF = RandomForestClassifier()
logit = LogisticRegression()
SVM = LinearSVC()
AB = AdaBoostClassifier()

pipeline_RF = make_pipeline(standardizer, RF)
pipeline_logit = make_pipeline(standardizer, logit)
pipeline_SVM = make_pipeline(standardizer, SVM)
pipeline_AB = make_pipeline(standardizer, AB)
pipeline_set = [pipeline_RF, pipeline_logit, pipeline_SVM, pipeline_AB]

kf = StratifiedKFold(n_splits=6, shuffle=True, random_state=1)

scoring = {'acc': 'accuracy',
           'prec_macro': 'precision_macro',
           'rec_micro': 'recall_macro'}

features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.1, random_state=1)

In [24]:
#Is there a better way???
for i in pipeline_set:
    print(cross_val_score(i, 
                    features_train, 
                    target_train, 
                    cv = kf, 
                    scoring = "accuracy", 
                    n_jobs=-1))

[0.98979592 0.98293515 0.99315068 0.99657534 0.97945205 0.99315068]
[0.99659864 0.98293515 0.99657534 0.98630137 0.98972603 0.99315068]
[0.99319728 0.98293515 0.99315068 0.98287671 0.98972603 0.98972603]
[0.99319728 0.97952218 0.99315068 0.99657534 0.98972603 0.99315068]

In [25]:
# why it did not work???
print(for i in pipeline_set:
      cross_val_score(i, 
                      features_train, 
                      target_train, 
                      cv = kf, 
                      scoring = "accuracy", 
                      n_jobs=-1))

SyntaxError: invalid syntax (<ipython-input-25-51354975b01d>, line 2)

In [26]:
#why the values are changed (different from the last cell) even when set as "random_state=1"
model_name = ["RF", "logit", "SVM", "AB"]

for i,j in zip(pipeline_set, model_name): 
    print(ny.mean(cross_val_score(i, 
                    features_train, 
                    target_train, 
                    cv = kf, 
                    scoring = "accuracy", 
                    n_jobs=-1)))
    print(j)

0.9880350873342932
RF
0.9908812029494891
logit
0.9886019807583296
SVM
0.990887033822989
AB

In [27]:
from sklearn.preprocessing import LabelBinarizer   #the labls were binary already; why do we still need this process for recall, precision, and f1?

lb = LabelBinarizer()
for i,j in zip(pipeline_set, model_name): 
    print(ny.mean(cross_val_score(i, 
                    features_train, 
                    lb.fit_transform(target_train), 
                    cv = kf, 
                    scoring = "precision", 
                    n_jobs=-1)))
    print(j)

0.9975444975037986
RF
0.9981572426018378
logit
0.9957107511847582
SVM
0.9950933845903985
AB

In [28]:
#Is there a better way for precision, recall and f1 at the same time???
for i,j in zip(pipeline_set, model_name): 
    print(ny.mean(cross_val_score(i, 
                    features_train, 
                    lb.fit_transform(target_train), 
                    cv = kf, 
                    scoring = "recall", 
                    n_jobs=-1)))
    print(j)

0.9926289704073511
RF
0.9920139642572896
logit
0.9920139642572897
SVM
0.9950889950075973
AB

In [29]:
for i,j in zip(pipeline_set, model_name): 
    print(ny.mean(cross_val_score(i, 
                    features_train, 
                    lb.fit_transform(target_train), 
                    cv = kf, 
                    scoring = "f1", 
                    n_jobs=-1)))
    print(j)

0.9969328663557415
RF
0.9950673574944336
logit
0.9938395406901638
SVM
0.995085586853535
AB